@font-face {
     font-family: 'Audiowide';
     font-style: normal;
     font-weight: 400;
     font-display: swap;
     src: url('~assets/fonts/Audiowide/Audiowide-Regular.ttf') format('truetype');
   }
  
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('~assets/fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


.base-btn {
  @apply py-3 px-4 rounded-md shadow bg-gradient-to-r from-primary to-secondary text-white font-medium hover:from-primary-dark hover:to-secondary-dark focus:outline-none focus:ring-1 focus:ring-offset-1 focus:ring-primary focus:ring-offset-secondary;
}

.base-input{
  @apply px-4 py-3 rounded-md border-0 text-base text-gray-900 placeholder-gray-400 focus:outline-none focus:ring-1 focus:ring-offset-1 focus:ring-primary focus:ring-offset-secondary;
}
